
.tabtop {
    margin-top: 13px;
}

.tabtop td {
    background-color:#ffffff;
    height:25px;
    line-height:150%;
}

.font-center { text-align:center}

.tablebg {background:#e9faff !important;}

.title {
    font-family: 微软雅黑, serif;
    font-size: 26px;
    font-weight: bold;
    border-bottom:1px dashed #CCCCCC;
    color: #255e95;
}

.table-text {
    font-family: 微软雅黑, serif;
    font-size: 16px;
    font-weight: bold;
    color: #255e95;
    background-color:#e9faff;
}

.table-text-change {
    font-family: 微软雅黑, serif;
    font-size: 16px;
    font-weight: bold;
    color: #4c2595 !important;
    background-color:#e9faff;
}

a:link {text-decoration:none;}    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:underline;}   /* mouse over link */
a:active {text-decoration:underline;}  /* selected link */